<div *ngIf='items.length !== 0'>
  <mat-list cols=1 *ngFor="let i of items">
    <mat-card>
      <div class='container'>
        <div class='cell-one'>
          <p class='title'>
            {{i.name}}
            <p>
              {{i.desc}}
            </p>
        </div>
        <div class='cell-two'>

          <ng-template [ngIf]="i.status === 'Approved'" else elseBlockG>
            <h4 class='request-center'>Moet terug op:</h4>
            <p>{{i.endDate}}</p>
          </ng-template>
          <ng-template #elseBlockG [ngIf]="i.status === 'waitingForApproval'" else elseBlock>
            <button class="annuleer" mat-raised-button color="warn" (click)='cancelRequest(i)'>Annuleren</button>
          </ng-template>
          <ng-template #elseBlock>
          </ng-template>
        </div>
        <div class='cell-three'>
          <h2 class='status'>
            {{i.status === "Approved" ? 'Goedgekeurd' : 'In afwachting'}}
          </h2>
        </div>
      </div>
    </mat-card>
  </mat-list>
</div>
<div *ngIf='items.length === 0'>
  <mat-card>
    U heeft geen openstaande vragen.
  </mat-card>
</div>
