
        .title {
            font-weight: bold;
            font-size: 25px;
            margin-top: 10px;
            text-transform: capitalize;
          }
          .cell-one {
            width: 45%;
            height: 85px;
          }
          .cell-two {
            width: 25%;
            height: 85px;
          }

          .cell-three {
            width:  30%;
            height: 85px;

          }
          .container {
            display: flex;
          }

          .reserved {
            font-weight: normal;
            font-style: italic;
            font-size: 15px;
          }

          .status {
            float: right;
          }

          .annuleer{
            width: 100%;
          }

          .request-center {
            margin: 15px 0;
          }

          button {
            top:50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            width:200px;
            font-size: 20px;
          }

          p {
            margin: 10px;
            width: 300px;
          }
