<ng-container>
  <mat-toolbar class="example-header">
    <button (click)="sidenav.toggle()" class="hamburger mat-button" mat-button=""><span class="mat-button-wrapper">
        <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">menu</mat-icon>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <p class="title">Verzoeksysteem</p>
  </mat-toolbar>

  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
      <mat-list>
        <mat-list-item [routerLinkActive]="'selected'" [routerLink]="route.routerLink" class="list-item" *ngFor="let route of routes">

            <div class="menu-item"><span class="mat-button-wrapper">
                <mat-icon class="menu-item-icon">{{ route.icon }}</mat-icon>
              </span>
            
            <p class="menu-item-text">{{ route.name }}</p>
          </div>
        </mat-list-item>
      </mat-list>


    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>