@import "./app/theme.scss";
@import "../node_modules/ngx-toastr/toastr.css";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-html;
  color: $text;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
